# ------------------------
# Python basics
# ------------------------
__pycache__/


# ------------------------
# Virtual environments
# ------------------------
venv/


# ------------------------
# VSCode settings
# ------------------------
.vscode/


# Local configs
config.json

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# Debug
# ------------------------
dumps/

# ------------------------
# Database
# ------------------------
data/*.sqlite3
data/*.db
data/jr_match.sqlite3

